*{
box-sizing:border-box;
}


.layout{

min-height:100vh;

display:flex;

background:
radial-gradient(
circle at top,
#312e81,
#020617 60%
);

font-family:
Inter,
Segoe UI,
sans-serif;

color:white;

}



.sidebar{

width:260px;

padding:35px 25px;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-right:
1px solid rgba(255,255,255,.1);

}



.sidebar h2{

margin-bottom:40px;

}



.menu{

padding:15px;

margin:12px 0;

border-radius:15px;

cursor:pointer;

color:#cbd5e1;

transition:.3s;

}



.menu:hover,
.active{

background:
linear-gradient(
90deg,
#6366f1,
#8b5cf6
);

color:white;

}




.main{

flex:1;

padding:40px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}



header p{

color:#cbd5e1;

}



.profile{

display:flex;

gap:15px;

align-items:center;

background:
rgba(255,255,255,.1);

padding:12px 18px;

border-radius:20px;

}



.profile img{

width:45px;

height:45px;

border-radius:50%;

}



.profile span{

display:block;

color:#4ade80;

font-size:13px;

}




.stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

margin:35px 0;

}



.stat-card,
.panel{

background:
rgba(255,255,255,.1);

backdrop-filter:blur(20px);

border-radius:25px;

padding:25px;

box-shadow:
0 20px 40px rgba(0,0,0,.3);

}



.stat-card h1{

color:#a78bfa;

}



.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

}




@media(max-width:900px){

.layout{

display:block;

}


.sidebar{

width:100%;

}


.stats,
.grid{

grid-template-columns:1fr;

}

}